.sidebar .list-group a:hover {
    background-color: blue;
    color: #c1c1c1;
    cursor: pointer;
}

.sidebar .list-group a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.sidebar .list-group a.active {
    background-color: rgba(102, 126, 234, 0.1);
    color: #667eea;
    font-weight: 600;
}

.sidebar .list-group a:hover {
    background-color: rgba(102, 126, 234, 0.2);
    color: #667eea;
}

* {
    color: black;
}